<section id="edit-mealkit" class="bg-gray">
    <div class="container-sm pb-5 pt-5">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h2 class="pt-5 pb-3">Edit meal kit</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <p>All fields can be changed and all fields are required.</p>
                </div>
                    <div class="row">
                        <form class="pb-5 pt-3" method="post" action="/mealkits/edit/<%= mealKit._id %>" enctype="multipart/form-data">
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <label for="title" class="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" value="<%= mealKit.title %>">
                                    <!-- show error message -->
                                    <% if (validationMsg.title) { %>
                                        <span style="color: red;"><%= validationMsg.title %></span><br />
                                    <% } %>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <label for="includes" class="form-label">Includes</label>
                                    <input type="text" class="form-control" id="includes" name="includes" value="<%= mealKit.includes %>">
                                    <!-- show error message -->
                                    <% if (validationMsg.includes) { %>
                                        <span style="color: red;"><%= validationMsg.includes %></span><br />
                                    <% } %>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <label for="description" class="form-label">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" value="<%= mealKit.description %>">
                                    <!-- show error message -->
                                    <% if (validationMsg.description) { %>
                                        <span style="color: red;"><%= validationMsg.description %></span><br />
                                    <% } %>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <label for="category" class="form-label">Category</label>
                                    <input type="text" class="form-control" id="category" name="category" value="<%= mealKit.category %>">
                                    <!-- show error message -->
                                    <% if (validationMsg.category) { %>
                                        <span style="color: red;"><%= validationMsg.category %></span><br />
                                    <% } %>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <label for="price" class="form-label">Price</label>
                                    <input type="number" class="form-control" id="price" name="price" min="0.01" step="0.01" value="<%= mealKit.price %>">
                                    <!-- show error message -->
                                    <% if (validationMsg.price) { %>
                                        <span style="color: red;"><%= validationMsg.price %></span><br />
                                    <% } %>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <label for="cookingTime" class="form-label">Cooking time (minutes)</label>
                                    <input type="number" class="form-control" id="cookingTime" name="cookingTime" value="<%= mealKit.cookingTime %>">
                                    <!-- show error message -->
                                    <% if (validationMsg.cookingTime) { %>
                                        <span style="color: red;"><%= validationMsg.cookingTime %></span><br />
                                    <% } %>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <label for="servings" class="form-label">Servings</label>
                                    <input type="number" class="form-control" id="servings" name="servings" value="<%= mealKit.servings %>">
                                    <!-- show error message -->
                                    <% if (validationMsg.servings) { %>
                                        <span style="color: red;"><%= validationMsg.servings %></span><br />
                                    <% } %>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <!-- display existing image if available -->
                                    <% if (mealKit.imageUrl) { %>
                                        <img src="/images/meal-kits-pics/<%= mealKit.imageUrl %>" alt="Meal Kit Image" width="150"><br />
                                    <% } %>
                                    <!-- Input field for uploading a new image -->
                                    <label for="imageUrl" class="form-label">Update image</label>
                                    <input type="file" class="form-control" id="imageUrl" name="imageUrl">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3 col-sm-4">
                                    <label for="featuredMealKit" class="form-label">Featured meal kit</label>
                                    <div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="featuredMealKit" name="featuredMealKit" value="true" <%= mealKit.featuredMealKit ? 'checked' : '' %>>
                                            <label class="form-check-label" for="featuredMealKit">Yes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center pb-5 pt-5">
                                <button type="submit" class="btn btn-success">Update Meal Kit</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</section>