<section id="sign-up" class="bg-gray">
    <div class="container pb-5">
        <p>&nbsp;</p>
        <div class="alert alert-light" role="alert">
            Welcome, <%= user.firstName %>!
            You can view all the existing meal kits here. 
            Click on the buttons to add, edit or delete the meal kit.
        </div>
        <p><a href="/mealkits/add"><button type="button" class="btn btn-success">Add a new meal kit</button></a> 
           <a href="/load-data/mealkits"><button type="button" class="btn btn-success" style="margin-left: 20px">Load data</button></a> 
        </p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Picture</th>
                    <th scope="col">Title</th>
                    <th scope="col">Includes</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Cooking</th>
                    <th scope="col">Servings</th>
                    <th scope="col">Featured</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <% if (mealKits && mealKits.length > 0) { %>
                    <% mealKits.forEach(mealKit => { %>
                        <tr>
                            <td width="150"><img src="/images/meal-kits-pics/<%- mealKit.imageUrl %>" alt="<%= mealKit.title %>" width="150"></td>
                            <td><%= mealKit.title %></td>
                            <td><%= mealKit.includes %></td>
                            <td><%= mealKit.description %></td>
                            <td><%= mealKit.category %></td>
                            <td><%= mealKit.price %></td>
                            <td><%= mealKit.cookingTime %></td>
                            <td><%= mealKit.servings %></td>
                            <td><%= mealKit.featuredMealKit %></td>
                            <td><a href="/mealkits/edit/<%- mealKit._id %>"><button type="button" class="btn btn-success">Edit</button></a></td>
                            <td><a href="/mealkits/remove/<%- mealKit._id %>"><button type="button" class="btn btn-success">Delete</button></a></td>
                        </tr>
                <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="11">No meal kit in the database.</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</section>
